@config "../../tailwind.config.js";
@import "tailwindcss";
@import "tw-animate-css";

/* UTILITIES */
.flex-full {
  @apply flex h-full w-full;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-full-center {
  @apply flex h-full w-full items-center justify-center;
}

.border-1 {
  border-width: 1px;
}

.scrollbar-hide,
.hide-scroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar,
.hide-scroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}


/* END UTILITIES */

html,
body {
  @apply flex min-h-screen h-full w-full overflow-hidden p-0;
}

* {
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
  font-family: Helvetica, Arial, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}